<!DOCTYPE HTML>
<html>
    <head>
        <meta charset= 'uts-8'>
        <title>A new Experess server</title>
    </head>
    {{> header}}
    <body>
        <p>Some text here</p>
        {{> footer}}
    </body>
</html>
