<!DOCTYPE HTML>
<html>
    <head>
        <meta charset= 'uts-8'>
        <title>My projects</title>
    </head>
    {{> header}}
    <body>
         <!-- this is injecting a data into the hbs -->
        <p>{{someParagraph}}</p>
        {{> footer}} <!-- this is injecting a partial into the hbs -->
    </body>
</html>
